table, th, td {
  border: 1px solid;
  padding: 10px;
  border-collapse: collapse;
}
input {
  padding: 10px;
}
input[type="text"] {
  font-size: x-large;
  align-self: top;
}
div {
  border: 5px;
}
#loadingAnimation {
  color: blue;
}
.button {
  padding: 15px;
  margin-bottom: 15px;
}
.justifyRight {
  display: flex;
  flex-direction: column;
  vertical-align: top;
}